{% extends 'base.html' %}
{% block body %}
{% load static %}
<table class="gtable table" action="" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Image</th>
        <th>Release date</th>
        <th>Duration</th>
        <th>Summary</th>
        <th>Genre</th>
        <th>View</th>
        <th>Update</th>
        <th>Delete</th>


    </thead>
    {% for i in mt %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.title}}</td>

        <td>{% if i.image %}<img src="{{i.image.url}}" class="img-responsive" width="50%">{% endif %}</td>

        <td>{{i.date}}</td>
        <td>{{i.duration}}</td>
        <td>{{i.summary}}</td>
        <td>{{i.genre}}</td>
       
        <td><a class="btn btn btn-outline-primary" href="{% url 'msingle' i.id %}">View</a></td>
              
        <td><a class="btn btn btn-outline-primary" href="{% url 'medit' i.id %}">Edit</a></td>
        <td><a class="btn btn btn-outline-primary" href="{% url 'delete' i.id %}">Delete</a></td>
    </tr>
    {% endfor %}
    
  
   

</table>

{% endblock %}